$darkmode: true;
$primary: #fface9;
$onPrimary: #5b0a50;
$primaryContainer: #772668;
$onPrimaryContainer: #ffd7f1;
$secondary: #dcbed0;
$onSecondary: #3e2a38;
$secondaryContainer: #56404f;
$onSecondaryContainer: #f9daec;
$tertiary: #f5b9a2;
$onTertiary: #4b2617;
$tertiaryContainer: #663c2b;
$onTertiaryContainer: #ffdbcc;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #120F11;
$background: #120F11;
$onBackground: #e9e0e3;
$surface: #1f1a1d;
$onSurface: #e9e0e3;
$surfaceVariant: #4f434a;
$onSurfaceVariant: #d2c2ca;
$outline: #9b8d94;
$shadow: #000000;
$inverseSurface: #e9e0e3;
$inverseOnSurface: #342f32;
$inversePrimary: #933f81;
