Warning: Image not in RGB|RGBA format - Converting...
$darkmode: true;
$primary: #bac3ff;
$onPrimary: #192779;
$primaryContainer: #323f90;
$onPrimaryContainer: #dde0ff;
$secondary: #c4c5dd;
$onSecondary: #2d2f42;
$secondaryContainer: #434559;
$onSecondaryContainer: #e0e1fa;
$tertiary: #e6b9d7;
$onTertiary: #45263d;
$tertiaryContainer: #5d3c54;
$onTertiaryContainer: #ffd7f2;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101012;
$background: #101012;
$onBackground: #e4e1e6;
$surface: #1b1b1f;
$onSurface: #e4e1e6;
$surfaceVariant: #46464e;
$onSurfaceVariant: #c6c5cf;
$outline: #91909a;
$shadow: #000000;
$inverseSurface: #e4e1e6;
$inverseOnSurface: #303034;
$inversePrimary: #4a57a9;
