$darkmode: true;
$primary: #ffb94d;
$onPrimary: #462b00;
$primaryContainer: #633f00;
$onPrimaryContainer: #ffddaf;
$secondary: #ddc2a1;
$onSecondary: #3e2d16;
$secondaryContainer: #56442b;
$onSecondaryContainer: #fadebc;
$tertiary: #b8cda1;
$onTertiary: #243515;
$tertiaryContainer: #3a4c2a;
$onTertiaryContainer: #d4eabc;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #12100D;
$background: #12100D;
$onBackground: #eae1d9;
$surface: #1f1b16;
$onSurface: #eae1d9;
$surfaceVariant: #4f4539;
$onSurfaceVariant: #d3c4b4;
$outline: #9c8f80;
$shadow: #000000;
$inverseSurface: #eae1d9;
$inverseOnSurface: #34302a;
$inversePrimary: #835500;
